<!-- <app-nested-form></app-nested-form> -->

<form [formGroup]="myFormGroup" (ngSubmit)="submitForm()">
  <mat-form-field>
    <mat-label>Admin ID</mat-label>
    <input
      matInput
      placeholder="Admin ID"
      type="text"
      formControlName="adminIdCtrl"
    />
    <mat-error *ngIf="myFormGroup.controls['adminIdCtrl'].hasError('required')">
      Admin ID is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <div formArrayName="userDetails">
    <ng-container
      *ngFor="let userDetail of userDetails.controls; let i = index"
    >
      <div [formGroupName]="i">
        <app-nested-form
          [nestedFormGroup]="userDetails.controls[i]"
          [userIndex]="i"
          (deleteUserDetailsEvent)="deleteUserDetails($event)"
        ></app-nested-form>
      </div>
    </ng-container>
  </div>
  <button mat-button type="button" (click)="addUserDetails()" color="primary">
    Add More User Details
  </button>

  <button mat-button type="submit" color="primary">Submit</button>
</form>
